@import "tailwindcss";

@layer base {
  * {
    @apply antialiased;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[#0a0a0a] text-white;
  }
}

/* Custom scrollbar styles */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}